# Unreal Engine
*.suo
*.sdf
*.opensdf
*.VC.db
*.vscode
*.pdb
*.idb
*.obj
*.log
*.user
*.tlog
*.ipch
*.aps
*.ncb
*.sln.cache

# Binaries and Build Artifacts
/TSE/Unreal/Binaries/
/TSE/Unreal/Build/
/TSE/Unreal/DerivedDataCache/
/TSE/Unreal/Intermediate/
/TSE/Unreal/Saved/
/TSE/Unreal/*.xcodeproj
/TSE/Unreal/*.xcworkspace

# Config-specific files
*.ini
!DefaultEngine.ini
!DefaultInput.ini
!DefaultGame.ini
!DefaultEditor.ini
!DefaultEditorPerProjectUserSettings.ini

# Unreal Engine Plugin Folders
#ignoring tse stuff completely
/TSE/Unreal/
/TSE/Unreal/Plugins/*/Intermediate/
/TSE/Unreal/Plugins/*/Binaries/
/TSE/Unreal/Plugins/*/Saved/

#Not uploading vidoes
/Users/jfm/A3_system_project/capture/C2/A3_System/logs/*.mp4
*.mp4

# Ignore Python cache
__pycache__/
*.py[cod]
*.so

# Ignore training logs and outputs
runs/
exp/
*.log

# Ignore datasets and images
/C2/A3_System/data/raw/
/C2/A3_System/data/archived_raw
/C2/A3_System/data/raw_combined/
/C2/A3_System/data/train/
/C2/A3_System/data/val/
/C2/A3_System/labels/train/
/C2/A3_System/labels/val/
/C2/A3_System/data/labels/
/C2/A3_System/scripts/test/rename_images.py

# Ignore weights and model outputs
*.pt
*.onnx
*.engine
capture/C2/A3_System/models/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore YOLO repo files (if cloned inside your project)
/C2/A3_System/yolo/

# Ignore environment files (optional)
.env
*.env

# VSCode and system files
.vscode/
*.DS_Store
Thumbs.db