# Unreal Engine
*.suo
*.sdf
*.opensdf
*.VC.db
*.vscode
*.pdb
*.idb
*.obj
*.log
*.user
*.tlog
*.ipch
*.aps
*.ncb
*.sln.cache

# Binaries and Build Artifacts
/TSE/Unreal/Binaries/
/TSE/Unreal/Build/
/TSE/Unreal/DerivedDataCache/
/TSE/Unreal/Intermediate/
/TSE/Unreal/Saved/
/TSE/Unreal/*.xcodeproj
/TSE/Unreal/*.xcworkspace

# Config-specific files
*.ini
!DefaultEngine.ini
!DefaultInput.ini
!DefaultGame.ini
!DefaultEditor.ini
!DefaultEditorPerProjectUserSettings.ini

# Unreal Engine Plugin Folders
/TSE/Unreal/Plugins/*/Intermediate/
/TSE/Unreal/Plugins/*/Binaries/
/TSE/Unreal/Plugins/*/Saved/

# TcpTest Application Build Artifacts
/C2/TcpTest/C2Test/C2Test/.vs
/C2/TcpTest/C2Test/C2Test/bin
/C2/TcpTest/C2Test/C2Test/obj

# Leftover Mission Planner Build Artifacts
/C2/MissionPlanner/ExtLibs/mono/mcs/class/lib/net_4_x-win32/netstandard2.0/Interfaces.dll
/C2/MissionPlanner/ExtLibs/mono/mcs/class/lib/net_4_x-win32/netstandard2.0/MissionPlanner.Drawing.dll
/C2/MissionPlanner/ExtLibs/mono/mcs/class/lib/net_4_x-win32/netstandard2.0/System.Drawing.dll
/C2/MissionPlanner/ExtLibs/mono/mcs/class/lib/net_4_x-win32/netstandard2.0/System.Windows.Forms.dll